* {
  font-family: 'Ubuntu', sans-serif;
  color: #061F78;
  height: 100vh;
}

body {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: none;
}

main {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 65%;
    background-color: #FBB0DD;
    flex-direction: column;
}

h1 {
  margin-top: 5%;
  font-size: xxx-large;
  height: 15%;
}

h2 {
  height: 10%;
  margin-top: -7%;
}

.difficulty-selector {
  display: flex;
  justify-content: center;
}

.button-box {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
}

.difficult-button-box {
  margin: 0;
}

button {
  height: 32%;
  cursor: pointer;
}

.game-button {
  height: 150px;
  width: 250px;
  border: none;
  cursor: pointer;
}

.button-image {
  height: 120%;
  width: auto;
  cursor: pointer;
}

p {
  font-size: 14px;
}

.player-image {
  height: 20%;
  width: auto;
  margin-top: 25%;
}

aside {
  display: flex;
  justify-content: center;
  width: 15%;
  background-color: #FBD4EB;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  padding-top: 5%;
}

.hidden {
  display: none;
}
